<div class="container">
  <h2>Cadastrar Livro</h2>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger  mt-3">
    {{ errorMessage }}
  </div>

  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo" required [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion" (click)="onSuggestionSelected(suggestion)">
            {{ suggestion }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="w-48">
        <mat-label>Editora</mat-label>
        <input id="editora" matInput formControlName="editora" required maxlength="40">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-48">
        <mat-label>Edição</mat-label>
        <input id="edicao" matInput formControlName="edicao" type="number" required>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="w-48">
        <mat-label>Ano de Publicação</mat-label>
        <input id="anoPublicacao" matInput formControlName="anoPublicacao" type="number" required  maxlength="4">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-48">
        <mat-label>Preço</mat-label>
        <input matInput formControlName="preco" type="text" appCurrencyMask required maxlength="8">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Autor</mat-label>
        <input matInput formControlName="autor" maxlength="40">

        <button mat-icon-button matSuffix (click)="addAutor()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="form-row top-m">
      <table class="table table-bordered mt-3" [ngClass]="{'border-error': erroAutor}">
        <thead>
          <tr>
            <th>Autores</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let autor of autores; let i = index">
            <td>
              {{ autor }}
              <button class="del" (click)="removeAutor(i)">x</button>
            </td>
          </tr>

          <tr *ngIf="erroAutor">
            <td><span class="errors">* É necessário pelo menos um Autor.</span></td>
          </tr>

        </tbody>
      </table>
    </div>


    <div class="form-row">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Assunto</mat-label>
        <input matInput formControlName="assunto" maxlength="20">

        <button mat-icon-button matSuffix (click)="addAssunto()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="form-row top-m">
      <table class="table table-bordered mt-3" [ngClass]="{'border-error': erroAssunto}">
        <thead>
          <tr>
            <th>Assuntos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assunto of assuntos; let i = index">
            <td>
              {{ assunto }}
              <button class="del" (click)="removerAssunto(i)">x</button>
            </td>
          </tr>

          <tr *ngIf="erroAssunto">
            <td><span class="errors">* É necessário pelo menos um Assunto.</span></td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="form-actions d-flex justify-content-between">
      <button mat-button color="warn" (click)="goBack()">Voltar</button>
      <button mat-raised-button color="primary" type="submit">Cadastrar</button>
    </div>
  </form>

</div>
