.container {
  max-width: 900px;
}

.table-responsive {
  margin-top: 20px;
}
.table td button {
  margin-left: 5px;
  margin-right: 5px;
}
tr.mat-mdc-row:nth-child(odd) {
  background-color: #f2f2f2;
}
tr.mat-mdc-row:nth-child(even) {
  background-color: #ffffff;
}
button {
  margin-right: 5px;
}
td.mat-mdc-cell {
  font-size: 12px;
}
h1>span {
  font-size: 21px;
  font-weight: 300;
  display: block;
  margin-top: -17px;
  color: #005cbb;
}
button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-primary.mat-mdc-button-base {
  background: #005cbb;
  color: #FFF;
}
mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
  color: #4f525a;
  font-size: 20px;
}
mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color:hover {
  color: #005cbb;
}
